.footer {
	max-width: 880px;
	margin: 0 auto 60px;
	/* flex-shrink: 0;
	width: 100%; */
}

@media screen and (max-width: 1023px) {
	.footer {
		margin: 45px 50px 40px;
	}
}

@media screen and (max-width: 767px) {
	.footer {
		margin: 48px 19px 36px;
	}
}