.popup__close {
	padding: 0;
	position: absolute;
	top: -40px;
	right: -40px;
	background: none;
	border: none;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	background-image: url(../../../images/popup-close.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 32px;
	height: 32px;
}

.popup__close:hover {
	opacity: 0.6;
}

@media screen and (max-width: 767px) {
	.popup__close {
		width: 20px;
		height: 20px;
		top: -36px;
		right: 0;
	}
}